body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Evitar el desplazamiento vertical */
    background-color: #4CAF50; /* Fondo verde */
}
.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}
h1, p {
    color: #333333; /* Texto oscuro */
}
.emoji {
    font-size: 48px;
    margin-bottom: 20px;
}
.button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    display: inline-block;
}
.button:hover {
    background-color: #45a049;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: changeColor 10s linear infinite alternate;
}
@keyframes changeColor {
    0% { background-color: #4CAF50; }
    25% { background-color: #FFC107; }
    50% { background-color: #2196F3; }
    75% { background-color: #FF5722; }
    100% { background-color: #4CAF50; }
}
.image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto; /* Alinear la imagen al centro */
}